.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

.tile {
  text-align: center;
  border: 3px solid rgb(29, 26, 26);
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  width: 100px;
}

.tile p {
  font-size: 1.5rem;
  font-weight: bold;
}

.tile img {
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

.tileActive {
  background: rgba(0, 60, 255, 0.7);
}
