.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

.tile {
  text-align: center;
  border: 3px solid rgb(29, 26, 26);
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  width: 100px;
  transition: 0.2s;
}

.tile:hover:not(.tileActive) {
  background-color: rgba(61, 61, 61, 0.2);
}

.tile p {
  font-size: 1.5rem;
  font-weight: bold;
}

.button {
  border: 3px solid rgb(29, 26, 26);
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  width: 100px;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: white;
  transition: 0.2s;
}

.button:hover {
  background-color: rgba(61, 61, 61, 0.2);
}

.tile img {
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

.tileActive {
  background: rgba(61, 61, 61, 0.5);
}
