.gameButton {
  padding: 5px 15px;
  font-size: 1.5rem;
}

.actions {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.actions button {
  border-radius: 10px;
  background-color: transparent;
  padding: 5px 10px;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: 0.2s;
  font-weight: bold;
}

.actions button svg {
  font-size: 1.6rem;
}

.settingsButton {
  border: 3px solid rgb(1, 186, 1);
  color: rgb(1, 186, 1);
}

.settingsButton:hover {
  background-color: rgb(1, 186, 1);
  color: white;
}

.randomButton {
  border: 3px solid rgb(69, 126, 250);
  color: rgb(69, 126, 250);
}

.randomButton:hover {
  background-color: rgb(69, 126, 250);
  color: white;
}
